@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
.Home{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Home_section{
    background: #b6c2cf;
    height: 26vh;
    width: 1185px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    
   

}
.Home_head{
    width: 30%;
    margin-left: 1em;
    color: #fff ;
    font-size: 40px;
   text-align: center;
    font-family: 'josefin sans';
	font-weight: 700;
    /* font-family: montserrat; */
    text-transform: uppercase;

}
.Home_content{
    color: black;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 400;
    letter-spacing: .01em;
    text-transform: uppercase;
    font-size: 18px;

}
.Home_Button{
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2em;
    width: 8em;
    height: 2em;
}
.Home_boder{
    background: black;
    height: 6em;
    padding: 1px;
    margin-left: 1em;
}


/* .navbar_logo_1::before{
    content: '';
    height: 17px;
    padding: 13px;
    background: rgb(153, 32, 32);
    width: 15px;
    border-radius: 0px 100px 100px 0px;
    top: 2em;
    left: 2em;
    position: relative;
    
} */