.navbar{
    display: flex;
    background: white;
    
}
.navbar_logo img{
    width: 10rem;
    margin-left: 4em;
    height: 7rem;
}
.navbar_logo{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.navbar_tag{
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    margin-left: 10em;
}
.navbar_tag a{
    
    margin: 2em;
    text-decoration: none;
    color: black;
    /* border-right: 1px solid burlywood; */
    /* border-width: 2px; */
}
.border{
    width: 0.1px;
    height: 20px;
    padding: 0.39px;
    margin: 1px;
    background: black;
    border-right: 1px solid rgb(22, 22, 22);
    margin-left: 0em;
    margin-top: 2em;
}

ul{
    display: flex;
}
